---
title: Сервисное обслуживание компьютерной техники
description: "Компьютерная помощь: защита информации, настройка сервера, настройка локальной сети, разработка приложений, ip атс, поддержка сайта. IT-аутсорсинг в Ярославле."
baseurl: /services/
layout: default.hbs
---

<h1 class="services-title">{{ services.title }}</h1>
<div class="services-nav">
  <ul class="services-nav__items">
    {{#each services.items }}
    <li class="services-nav__item">
      <button class="services-btn services-btn_type-{{ id }}" data-ctn="{{ anchor }}">{{ title }}</button>
    </li>
    {{/each}}
  </ul>
</div>
<div class="services-content">
{{#each services.items }}
  <div class="services-content__page" data-ctgr="{{anchor}}">
    <div class="services-content__item">
      <div class="services-content__middleline"></div>
      <div class="services-content__wrap">
        <div class="services-item">
          <h3 class="services-item__title">{{ title }}</h3>
          <p class="services-item__description">{{ description }}</p>
          <h5 class="services-item__cases">Лучшие кейсы</h5>
          {{#each @root.tags}}{{#is tag ../title}}{{#pages}}
            <a href="/{{ relativeLink }}" class="tag services-item__tag" title="{{ data.title }}">{{ data.title }}</a>
          {{/pages}}{{/is}}{{/each}}
        </div>
      </div>
    </div>
    <div class="services-content__cases">
      {{#each @root.tags}}{{#is tag ../title}}
        {{> cases-content-list listLength=3 obj=pages}}
      {{/is}}{{/each}}</div>
  </div>
{{/each}}
<div class="scroll-button scroll-button_services"></div>
</div>
<div class="services-feedback">
  <div class="services-feedback__wrap js__feedback_toggler">
    <div class="header-block services-feedback__header-block">
      <h1 class="header-block__title">Наши услуги <br>и решения</h1>
      <h2 class="header-block__subtitle">Оставить заявку</h2>
    </div>
  </div>
  <a href="/digit-offer.pdf" class="btn services-feedback__presentation" target="_blank" download title="Скачать презентацию">Скачать презентацию</a>
</div>