---
title: DGT - информация о нас
shortname: index
layout: default.hbs
---

<div class="index-content">
  <div class="index-content__services">
    <div class="index-content-services">
      <div class="index-content-services__header-block">
        <div class="header-block">
          <div class="header-block__title">Цифровые идеи<br>для бизнеса</div>
          <div class="header-block__subtitle">спектр предоставляемых услуг</div>
        </div>
      </div>
      <div class="index-content-services__body">
        <ul class="index-content-services-body">
          {{#each services.items}}
          <li class="index-content-services-body__item{{#is @index 0}} _active{{/is}}" data-jt="{{ @index }}">{{ title }}</li>
          {{/each}}
        </ul>
      </div>
      <div class="index-content-services__description">
        <div class="index-content-services-description">
          <div class="index-content-services-description__wrapper">{{#each services.items}}
            <div class="index-content-services-description__item">
              <div class="index-content-services-description-item">
                <h4 class="index-content-services-description-item__title">{{ title }}</h4>
                <span class="index-content-services-description-item__text">{{ teaser }}</span>
                <a href="#request" title="Оставить заявку" class="index-content-services-description-item__button">Оставить заявку</a>
              </div>
            </div>{{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="index-content__advantage">
    <div class="index-content-advantage">
      <div class="index-content-advantage__content">
        <div class="index-content-advantage-content">
          <div class="index-content-advantage-content__header-block">
            <div class="header-block">
              <div class="header-block__title">Наши приемущества</div>
              <div class="header-block__subtitle">почему нам доверяют</div>
            </div>
          </div>
          <div class="index-content-advantage-content__text">
            <div class="index-content-advantage-content-text">
              <p class="index-content-advantage-content-text__p">Компания Digit работает на рынке it-услуг более 5 лет. За этот период мы успешно реализовали более 1500 проектов и получили положительные отзывы от 400 довольных клиентов. Нашими постоянными клиентами являются лучшие компании региона.</p>
              <p class="index-content-advantage-content-text__p">Мы считаем необходимым индивидуальный подход к каждому клиенту и его задаче. Это не просто красивые слова. Стандартные решения подходят далеко не всем и не всегда. Мы понимаем необходимость глубокого погружения в бизнес клиента и только после основательного изучения его потребностей предлагаем решения. Это позволяет не только добиваться максимальной эффективности, но и значительно экономить деньги и время.</p>
              <p class="index-content-advantage-content-text__p">Благодаря уникальной системе мониторинга компьютерного оборудования, являющейся нашей собственной разработкой, мы автоматизировали большинство процессов обслуживания. За счёт этого значительно повысилось качество предоставляемых услуг, сократилось количество необходимого человеческого ресурса, и мы смогли сделать стоимость услуг существенно ниже, чем у конкурентов.</p>
              <p class="index-content-advantage-content-text__p">Мы всегда рады новому плодотворному сотрудничеству.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="index-content-advantage__cases">
          <div class="index-content-advantage-cases">
            <div class="index-content-advantage-cases__item">
              <div class="index-content-advantage-cases-item">
                <div class="index-content-advantage-cases-item__wrapper">
                  <div class="index-content-advantage-cases-item-wrapper">
                    <svg id="guarantee_icon" viewBox="0 0 112.979 112.979" width="100%" height="100%">
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF4E4E" d="M0,0v112.979h112.979V0H0z M111.127,111.127H1.852V1.851h109.275
                      V111.127z M49.988,91.787l55.001-56.797l-15-14L49.481,62.98L22.833,37.251L8.683,51.906l26.648,25.729L49.988,91.787z
                      M49.527,65.599L89.989,23.99l12,11L62.805,75.844L49.94,89.166L37.666,77.314l11.787-11.787L49.527,65.599z M22.878,39.87
                      l25.048,24.184L36.139,75.84L11.301,51.86L22.878,39.87z"></path>
                    </svg>
                    <h3 class="index-content-advantage-cases-item__title">Гарантия</h3>
                    <p class="index-content-advantage-cases-item__text">Обеспечиваем полный цикл работ по развитию и обслуживанию ИТ, включая гарантийное и постгарантийное обслуживание.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="index-content-advantage-cases__item">
              <div class="index-content-advantage-cases-item">
                <div class="index-content-advantage-cases-item__wrapper">
                  <div class="index-content-advantage-cases-item-wrapper">
                    <svg id="experience_icon" viewBox="0 0 112.979 112.979" width="100%" height="100%">
                      <path fill="#FF4E4E" d="M0-0.001v112.979h112.979V-0.001H0z M111.127,111.125H1.852V1.85h109.275V111.125z M25.7,85.969
                      l-7.139,7.136h75.853l-7.135-7.136l-1.853-1.852L57.799,56.489l13.35-13.351l1.854-1.854L94.415,19.87H18.563l21.415,21.414
                      l1.853,1.854l13.351,13.351L27.552,84.117L25.7,85.969z M23.032,21.722h66.913L70.381,41.284H42.597L23.032,21.722z
                      M44.449,43.138h24.083L56.49,55.178L44.449,43.138z M56.49,57.797l26.314,26.316H30.174L56.49,57.797z M84.66,85.969l5.281,5.283
                      H23.032l5.285-5.283H84.66z M56.49,66.07c1.218,0,2.202-0.986,2.202-2.204c0-1.219-0.984-2.205-2.202-2.205
                      c-1.22,0-2.205,0.986-2.205,2.205C54.284,65.083,55.271,66.07,56.49,66.07z M56.49,68.558c-1.22,0-2.205,0.987-2.205,2.207
                      c0,1.219,0.985,2.204,2.205,2.204c1.218,0,2.202-0.985,2.202-2.204C58.693,69.545,57.707,68.558,56.49,68.558z M56.49,75.698
                      c-1.218,0-2.203,0.986-2.203,2.204c0,1.219,0.985,2.204,2.203,2.204c1.217,0,2.202-0.985,2.202-2.204
                      C58.693,76.686,57.706,75.698,56.49,75.698z"></path>
                    </svg>
                    <h3 class="index-content-advantage-cases-item__title">Опыт</h3>
                    <p class="index-content-advantage-cases-item__text">Мы более 5 лет предоставляем услуги по обслуживанию ИТ. Нам доверяют такие крупные компании, как Ростелеком, Энфорта, Технониколь.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="index-content-advantage-cases__item">
              <div class="index-content-advantage-cases-item">
                <div class="index-content-advantage-cases-item__wrapper">
                  <div class="index-content-advantage-cases-item-wrapper">
                    <svg id="quality_icon" viewBox="0 0 112.979 112.979" width="100%" height="100%">
                      <path fill="#FF4E4E" d="M0,0.001v112.978h112.979V0.001H0z M111.127,111.127H1.852V1.852h109.275V111.127z M46.303,103.717h20.371
                      V66.676h37.042V46.302H66.674V9.26H46.303v37.042H9.261v20.374h37.042V103.717z M48.155,11.113h16.669v37.042h37.042v16.667
                      H48.155V11.113z M48.155,66.676h16.669v35.189H48.155V66.676z M11.113,64.823V48.155h35.19v16.667H11.113z"></path>
                    </svg>
                    <h3 class="index-content-advantage-cases-item__title">Качество</h3>
                    <p class="index-content-advantage-cases-item__text">Управляем ходом ИТ-проекта на каждом этапе реализации, предоставляя клиенту возможность следить за его текущими показателями.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="index-content-advantage-cases__item">
              <div class="index-content-advantage-cases-item">
                <div class="index-content-advantage-cases-item__wrapper">
                  <div class="index-content-advantage-cases-item-wrapper">
                    <svg id="result_icon" viewBox="0 0 112.979 112.979" width="100%" height="100%">
                      <path fill="#FF4E4E" d="M0,0v112.979h112.979V0H0z M111.127,111.127H1.852V1.852h109.275V111.127z M56.003,91.631v11.351h1.974
                      V91.631c18.333-0.517,33.141-15.323,33.656-33.652h11.345v-1.974H91.633c-0.516-18.331-15.323-33.14-33.656-33.657V11.002h-1.974
                      v11.346c-18.331,0.517-33.14,15.325-33.656,33.657H11.001v1.974h11.346C22.864,76.309,37.672,91.115,56.003,91.631z M56.99,24.296
                      c18.026,0,32.693,14.667,32.693,32.695c0,18.025-14.668,32.69-32.693,32.69c-18.027,0-32.693-14.665-32.693-32.69
                      C24.296,38.963,38.962,24.296,56.99,24.296z M56.99,78.705c11.975,0,21.718-9.74,21.716-21.713
                      c0-11.976-9.741-21.718-21.716-21.718c-11.976,0-21.717,9.743-21.717,21.718C35.274,68.965,45.016,78.705,56.99,78.705z
                      M56.99,37.249c10.885,0,19.74,8.856,19.74,19.743c0,10.886-8.855,19.739-19.74,19.739c-10.886,0-19.742-8.854-19.742-19.74
                      S46.105,37.249,56.99,37.249z M56.99,65.104c4.474,0,8.112-3.637,8.112-8.111c0-4.476-3.642-8.116-8.112-8.116
                      c-4.474,0-8.114,3.64-8.114,8.116C48.875,61.466,52.515,65.104,56.99,65.104z M56.99,50.852c3.388,0,6.142,2.755,6.141,6.142
                      c0,3.385-2.753,6.138-6.141,6.138s-6.141-2.753-6.141-6.138C50.85,53.607,53.604,50.852,56.99,50.852z"></path>
                    </svg>
                    <h3 class="index-content-advantage-cases-item__title">Результат</h3>
                    <p class="index-content-advantage-cases-item__text">Снижение стоимости владения ИТ, рост удовлетворенности пользователей, минимизация простоев - главная цель и лучший показатель нашей работы.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="index-content__divider">
    <div class="index-content-divider"></div>
  </div>
  <div class="index-content__work">
    <div class="index-content-work">
      <div class="index-content-work__header-block">
        <div class="header-block">
          <div class="header-block__title">Как мы работаем</div>
          <div class="header-block__subtitle">Работа выполняется в несколько этапов</div>
        </div>
      </div>
      <div class="index-content-work__list">
        <ul class="index-content-work-list">
          <li class="index-content-work-list__item">
            <div class="index-content-work-list-item">
              <div class="index-content-work-list-item__arrow">
                <svg id="icon-work-next" viewBox="0 0 99 17" width="100%" height="100%">
                  <path fillrule="evenodd" d="M-0 9.28C-0 9.28-0 6.52-0 6.52-0 6.52 97.93 6.52 97.93 6.52 97.93 6.52 97.93 9.28 97.93 9.28 97.93 9.28-0 9.28-0 9.28Z"></path>
                  <path fillrule="evenodd" d="M 96.75 9.96C 96.75 9.96 98.66 8 98.66 8 98.66 8 91.08 0.21 91.08 0.21 91.08 0.21 89.17 2.17 89.17 2.17 89.17 2.17 96.75 9.96 96.75 9.96Z"></path>
                  <path fillrule="evenodd" d="M 97.38 6.53C 97.38 6.53 99.28 8.47 99.28 8.47 99.28 8.47 91.77 16.19 91.77 16.19 91.77 16.19 89.88 14.25 89.88 14.25 89.88 14.25 97.38 6.53 97.38 6.53Z"></path>
                </svg>
              </div>
              <div class="index-content-work-list-item_middle">
                <div class="index-content-work-list-item__icon">
                  <svg viewBox="0 0 112.979 112.979" width="100%" height="100%">
                    <path fill="#FF4E4E" d="M0,0v112.979h112.979V0H0z M111.127,111.126H1.852V1.852h109.275V111.126z M96.99,22.99h-11v-4h-10v4h-14
                    v-4h-10v4h-14v-4h-10v4h-11l-0.001,72.001H96.99L96.99,22.99z M77.99,20.99h6v6h-6V20.99z M53.99,20.99h6v6h-6V20.99z
                    M29.99,20.99h6v6h-6V20.99z M94.99,92.99h-76v-53h76V92.99z M94.99,37.99h-76v-13h9v4h10v-4h14v4h10v-4h14v4h10v-4h9V37.99z"></path>
                    <path fill="none" stroke="#FF4E4E" stroke-width="2" stroke-miterlimit="10" d="M28.666,57.5h10v-7h-10V57.5z M52.666,57.5h10v-7
                  h-10V57.5z M76.666,50.5v7h10v-7H76.666z M28.666,70.5h10v-7h-10V70.5z M52.666,70.5h10v-7h-10V70.5z M76.666,70.5h10v-7h-10V70.5
                  z M28.666,83.5h10v-7h-10V83.5z M52.666,83.5h10v-7h-10V83.5z M76.666,83.5h10v-7h-10V83.5z"></path>
                  </svg>
                </div>
                <h3 class="index-content-work-list-item__header">Аудит</h3>
                <p class="index-content-work-list-item__text">Предварительная оценка состояния вашей ИТ-инфраструктуры, опрос сотрудников и выявление слабых сторон</p>
              </div>
            </div>
          </li>
          <li class="index-content-work-list__item">
            <div class="index-content-work-list-item">
              <div class="index-content-work-list-item__arrow">
                <svg viewBox="0 0 99 17" width="100%" height="100%">
                  <path fillrule="evenodd" d="M-0 9.28C-0 9.28-0 6.52-0 6.52-0 6.52 97.93 6.52 97.93 6.52 97.93 6.52 97.93 9.28 97.93 9.28 97.93 9.28-0 9.28-0 9.28Z"></path>
                  <path fillrule="evenodd" d="M 96.75 9.96C 96.75 9.96 98.66 8 98.66 8 98.66 8 91.08 0.21 91.08 0.21 91.08 0.21 89.17 2.17 89.17 2.17 89.17 2.17 96.75 9.96 96.75 9.96Z"></path>
                  <path fillrule="evenodd" d="M 97.38 6.53C 97.38 6.53 99.28 8.47 99.28 8.47 99.28 8.47 91.77 16.19 91.77 16.19 91.77 16.19 89.88 14.25 89.88 14.25 89.88 14.25 97.38 6.53 97.38 6.53Z"></path>
                </svg>
              </div>
              <div class="index-content-work-list-item_middle">
                <div class="index-content-work-list-item__icon">
                  <svg id="report_icon" viewBox="0 0 112.979 112.979" width="100%" height="100%">
                    <path fill="#FF4E4E" d="M-0.001,0V112.98h112.979V0H-0.001z M111.126,111.126H1.851V1.852h109.275V111.126z M92.992,25.531H77.045
                    v12.104H35.923V25.531H19.984V99.99h73.009V25.531z M90.989,97.99h-69V27.991h12v12h45v-12h12V97.99z M72.869,17.319h-9.998
                    v-4.327H50.16v4.327H40.107v16.425h32.763V17.319z M52.215,15.024h8.602v8.553h-8.602V15.024z M70.816,30.712l-0.001,1H42.161
                    V19.351h8v6.258h12.71v-6.258h7.944V30.712z M29.647,49.938h53.682v-3.031H29.647V49.938z M29.647,59.286h53.682v-3.031H29.647
                    V59.286z M29.647,68.634h53.682v-3.031H29.647V68.634z M29.647,77.982h53.682v-3.029H29.647V77.982z M29.647,87.331h53.682V84.3
                    H29.647V87.331z"></path>
                  </svg>
                </div>
                <h3 class="index-content-work-list-item__header">Отчет</h3>
                <p class="index-content-work-list-item__text">Анализ проблем, выявленных в ходе аудита, разработка плана работ по устранению рисков и уязвимостей.</p>
              </div>
            </div>
          </li>
          <li class="index-content-work-list__item">
            <div class="index-content-work-list-item">
              <div class="index-content-work-list-item__arrow">
                <svg id="icon-work-next-prev" viewBox="0 0 99 36" width="100%" height="100%">
                  <path fillrule="evenodd" d="M 0.33 8.95C 0.33 8.95 0.33 6.18 0.33 6.18 0.33 6.18 98.26 6.18 98.26 6.18 98.26 6.18 98.26 8.95 98.26 8.95 98.26 8.95 0.33 8.95 0.33 8.95Z"></path>
                  <path fillrule="evenodd" d="M 97.08 9.63C 97.08 9.63 98.99 7.66 98.99 7.66 98.99 7.66 91.42-0.13 91.42-0.13 91.42-0.13 89.51 1.84 89.51 1.84 89.51 1.84 97.08 9.63 97.08 9.63Z"></path>
                  <path fillrule="evenodd" d="M 97.72 6.19C 97.72 6.19 99.61 8.14 99.61 8.14 99.61 8.14 92.1 15.86 92.1 15.86 92.1 15.86 90.21 13.91 90.21 13.91 90.21 13.91 97.72 6.19 97.72 6.19Z"></path>
                  <path fillrule="evenodd" d="M 99 28.95C 99 28.95 99 26.18 99 26.18 99 26.18 1.69 26.18 1.69 26.18 1.69 26.18 1.69 28.95 1.69 28.95 1.69 28.95 99 28.95 99 28.95Z"></path>
                  <path fillrule="evenodd" d="M 2.86 29.62C 2.86 29.62 0.96 27.66 0.96 27.66 0.96 27.66 8.49 19.87 8.49 19.87 8.49 19.87 10.39 21.84 10.39 21.84 10.39 21.84 2.86 29.62 2.86 29.62Z"></path>
                  <path fillrule="evenodd" d="M 2.23 26.19C 2.23 26.19 0.35 28.14 0.35 28.14 0.35 28.14 7.81 35.86 7.81 35.86 7.81 35.86 9.69 33.91 9.69 33.91 9.69 33.91 2.23 26.19 2.23 26.19Z"></path>
                </svg>
              </div>
              <div class="index-content-work-list-item_middle">
                <div class="index-content-work-list-item__icon">
                  <svg viewBox="0 0 112.979 112.979" width="100%" height="100%">
                    <path fill="#FF4E4E" d="M0,0v112.979h112.979V0H0z M111.127,111.126H1.852V1.852h109.275V111.126z"></path>
                    <path fill="none" stroke="#FF4E4E" stroke-width="2" stroke-miterlimit="10" d="M29.505,55.103
                      c0.696-13.8,11.748-24.869,25.542-25.595l6.84-9.044l-6.791-8.982c-23.751,0.722-42.872,19.832-43.613,43.576l8.981-6.79
                      L29.505,55.103z M55.104,83.473c-13.802-0.698-24.87-11.75-25.596-25.543l-9.045-6.84l-8.981,6.792
                      c0.724,23.75,19.831,42.872,43.577,43.613l-6.791-8.98L55.104,83.473z M57.873,29.506c13.8,0.696,24.871,11.749,25.595,25.542
                      l9.046,6.839l8.982-6.792c-0.723-23.75-19.832-42.871-43.578-43.613l6.792,8.982L57.873,29.506z M83.472,57.873
                      c-0.697,13.8-11.748,24.871-25.542,25.595l-6.84,9.047l6.791,8.982c23.751-0.724,42.873-19.832,43.613-43.578l-8.98,6.791
                      L83.472,57.873z"></path>
                  </svg>
                </div>
                <h3 class="index-content-work-list-item__header">Обслуживание</h3>
                <p class="index-content-work-list-item__text">Приём и обработка обращений, консультация сотрудников, выполнение плановых эксплуатационных мероприятий.</p>
              </div>
            </div>
          </li>
          <li class="index-content-work-list__item">
            <div class="index-content-work-list-item">
              <div class="index-content-work-list-item_middle">
                <div class="index-content-work-list-item__icon">
                  <svg id="analysis_icon" viewBox="0 0 112.979 112.979" width="100%" height="100%">
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF4E4E" d="M0,0V112.98h112.979V0H0z M111.127,111.126H1.852V1.852h109.275
                      V111.126z M39.433,42.227l26.894,10.385l28.64-36.687v5.076h1.998v-7.995h-2.144l-0.061-0.048l-0.037,0.048H88.97v1.999h4.193
                      L65.569,50.352L39.365,40.057l-0.03,0.076l-0.22-0.076l-24.87,29.272l1.536,1.277L39.433,42.227z"></path>
                      <path fill="none" stroke="#FF4E4E" stroke-width="2" stroke-miterlimit="10" d="M40.365,100.608h12v-45h-12V100.608z
                    M81.365,42.608v58h12v-58H81.365z M60.365,100.608h12v-28h-12V100.608z M20.365,100.608h12v-23h-12V100.608z"></path>
                  </svg>
                </div>
                <h3 class="index-content-work-list-item__header">Анализ</h3>
                <p class="index-content-work-list-item__text">Контрольный срез данных по итогам оговорённого периода, полный отчет о результатах.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="index-content__rates">
    <div class="index-content-rates">
      <div class="index-content-rates__header-block _white">
        <div class="header-block">
          <div class="header-block__title">Тарифы<br>на обслуживание</div>
          <div class="header-block__subtitle">Порядочность начинается с честной цены</div>
        </div>
      </div>
      <div class="index-content-rates__list">
        <div class="index-content-rates-list">
          <div class="index-content-rates-list__item">
            <div class="index-content-rates-list-item">
              <div class="index-content-rates-list-item_inner">
                <img src="/index-content-rates-list-item__image_ad-hoc.png" alt="Заказать разовые работы" class="index-content-rates-list-item__image">
                <h3 class="index-content-rates-list-item__header">Разовые работы</h3>
                <div class="index-content-rates-list-item__price">
                  <div class="index-content-rates-list-item-price">
                    <span class="index-content-rates-list-item-price__sum">
                      от 750<svg id="price-ru" viewBox="0 0 37 53" width="100%" height="100%">
                        <path fillrule="evenodd" d="M 0.4 33.1C 0.4 33.1 5.24 33.1 5.24 33.1 5.24 33.1 5.24 37.94 5.24 37.94 5.24 37.94 0.4 37.94 0.4 37.94 0.4 37.94 0.4 43.73 0.4 43.73 0.4 43.73 5.24 43.73 5.24 43.73 5.24 43.73 5.24 52.16 5.24 52.16 5.24 52.16 12.06 52.16 12.06 52.16 12.06 52.16 12.06 43.73 12.06 43.73 12.06 43.73 28.69 43.73 28.69 43.73 28.69 43.73 28.69 37.94 28.69 37.94 28.69 37.94 12.06 37.94 12.06 37.94 12.06 37.94 12.06 33.03 12.06 33.03 12.06 33.03 18.88 33.03 18.88 33.03 26.21 33.03 28.09 31.27 31.61 27.75 34.54 24.89 36.15 20.93 36.15 16.31 36.15 10.44 33.88 6.7 29.99 4.06 26.7 1.79 25.33 0.84 19.1 0.84 19.1 0.84 5.24 0.84 5.24 0.84 5.24 0.84 5.24 27.23 5.24 27.23 5.24 27.23 0.4 27.23 0.4 27.23 0.4 27.23 0.4 33.1 0.4 33.1ZM 29.04 16.53C 29.04 19.54 28.24 21.95 26.11 24.08 23.84 26.21 23.35 27.23 17.78 27.23 17.78 27.23 12.06 27.23 12.06 27.23 12.06 27.23 12.06 6.7 12.06 6.7 12.06 6.7 18.8 6.7 18.8 6.7 23.13 6.7 23.03 7.29 25.3 8.76 27.87 10.44 29.04 12.94 29.04 16.53Z"></path>
                      </svg>
                    </span>
                    <div class="index-content-rates-list-item-price__text">за час</div>
                  </div>
                </div>
                <div class="index-content-rates-list-item__info">
                  <ul class="index-content-rates-list-item-info">
                    <li class="index-content-rates-list-item-info__point">Возможен срочный выезд</li>
                    <li class="index-content-rates-list-item-info__point">Договор о неразглашении</li>
                    <li class="index-content-rates-list-item-info__point">Гарантийное обслуживание</li>
                    <li class="index-content-rates-list-item-info__point">Бесплатная консультация</li>
                  </ul>
                </div>
              </div>
              <a href="#request" data-cnt="Разовые работы" class="index-content-rates-list-item__order">Заказать</a>
            </div>
          </div>
          <div class="index-content-rates-list__item">
            <div class="index-content-rates-list-item">
              <div class="index-content-rates-list-item_inner">
                <img src="/index-content-rates-list-item__image_standart.png" alt="Заказать тариф «Стандарт»" class="index-content-rates-list-item__image">
                <h3 class="index-content-rates-list-item__header">Стандарт</h3>
                <div class="index-content-rates-list-item__price">
                  <div class="index-content-rates-list-item-price">
                    <span class="index-content-rates-list-item-price__sum">
                      от 3 500<svg id="price-ru" viewBox="0 0 37 53" width="100%" height="100%">
                        <path fillrule="evenodd" d="M 0.4 33.1C 0.4 33.1 5.24 33.1 5.24 33.1 5.24 33.1 5.24 37.94 5.24 37.94 5.24 37.94 0.4 37.94 0.4 37.94 0.4 37.94 0.4 43.73 0.4 43.73 0.4 43.73 5.24 43.73 5.24 43.73 5.24 43.73 5.24 52.16 5.24 52.16 5.24 52.16 12.06 52.16 12.06 52.16 12.06 52.16 12.06 43.73 12.06 43.73 12.06 43.73 28.69 43.73 28.69 43.73 28.69 43.73 28.69 37.94 28.69 37.94 28.69 37.94 12.06 37.94 12.06 37.94 12.06 37.94 12.06 33.03 12.06 33.03 12.06 33.03 18.88 33.03 18.88 33.03 26.21 33.03 28.09 31.27 31.61 27.75 34.54 24.89 36.15 20.93 36.15 16.31 36.15 10.44 33.88 6.7 29.99 4.06 26.7 1.79 25.33 0.84 19.1 0.84 19.1 0.84 5.24 0.84 5.24 0.84 5.24 0.84 5.24 27.23 5.24 27.23 5.24 27.23 0.4 27.23 0.4 27.23 0.4 27.23 0.4 33.1 0.4 33.1ZM 29.04 16.53C 29.04 19.54 28.24 21.95 26.11 24.08 23.84 26.21 23.35 27.23 17.78 27.23 17.78 27.23 12.06 27.23 12.06 27.23 12.06 27.23 12.06 6.7 12.06 6.7 12.06 6.7 18.8 6.7 18.8 6.7 23.13 6.7 23.03 7.29 25.3 8.76 27.87 10.44 29.04 12.94 29.04 16.53Z"></path>
                      </svg>
                    </span>
                    <div class="index-content-rates-list-item-price__text">в месяц</div>
                  </div>
                </div>
                <div class="index-content-rates-list-item__info">
                  <ul class="index-content-rates-list-item-info">
                    <li class="index-content-rates-list-item-info__point">Передача обращения в работу: до 3 часов</li>
                    <li class="index-content-rates-list-item-info__point">Исполнение обращения:<br>до 2х дней</li>
                    <li class="index-content-rates-list-item-info__point">Предоплаченных часов выездов: 4 часа</li>
                  </ul>
                </div>
              </div>
              <a href="#request" data-cnt="Тариф на обслуживание «Стандарт»" class="index-content-rates-list-item__order">Заказать</a>
            </div>
          </div>
          <div class="index-content-rates-list__item">
            <div class="index-content-rates-list-item">
              <div class="index-content-rates-list-item_inner">
                <img src="/index-content-rates-list-item__image_gold.png" alt="Заказать тариф «Золото»" class="index-content-rates-list-item__image">
                <h3 class="index-content-rates-list-item__header">Премиум</h3>
                <div class="index-content-rates-list-item__price">
                  <div class="index-content-rates-list-item-price">
                    <span class="index-content-rates-list-item-price__sum">
                      от 9 500<svg id="price-ru" viewBox="0 0 37 53" width="100%" height="100%">
                        <path fillrule="evenodd" d="M 0.4 33.1C 0.4 33.1 5.24 33.1 5.24 33.1 5.24 33.1 5.24 37.94 5.24 37.94 5.24 37.94 0.4 37.94 0.4 37.94 0.4 37.94 0.4 43.73 0.4 43.73 0.4 43.73 5.24 43.73 5.24 43.73 5.24 43.73 5.24 52.16 5.24 52.16 5.24 52.16 12.06 52.16 12.06 52.16 12.06 52.16 12.06 43.73 12.06 43.73 12.06 43.73 28.69 43.73 28.69 43.73 28.69 43.73 28.69 37.94 28.69 37.94 28.69 37.94 12.06 37.94 12.06 37.94 12.06 37.94 12.06 33.03 12.06 33.03 12.06 33.03 18.88 33.03 18.88 33.03 26.21 33.03 28.09 31.27 31.61 27.75 34.54 24.89 36.15 20.93 36.15 16.31 36.15 10.44 33.88 6.7 29.99 4.06 26.7 1.79 25.33 0.84 19.1 0.84 19.1 0.84 5.24 0.84 5.24 0.84 5.24 0.84 5.24 27.23 5.24 27.23 5.24 27.23 0.4 27.23 0.4 27.23 0.4 27.23 0.4 33.1 0.4 33.1ZM 29.04 16.53C 29.04 19.54 28.24 21.95 26.11 24.08 23.84 26.21 23.35 27.23 17.78 27.23 17.78 27.23 12.06 27.23 12.06 27.23 12.06 27.23 12.06 6.7 12.06 6.7 12.06 6.7 18.8 6.7 18.8 6.7 23.13 6.7 23.03 7.29 25.3 8.76 27.87 10.44 29.04 12.94 29.04 16.53Z"></path>
                      </svg>
                    </span>
                    <div class="index-content-rates-list-item-price__text">в месяц</div>
                  </div>
                </div>
                <div class="index-content-rates-list-item__info">
                  <ul class="index-content-rates-list-item-info">
                    <li class="index-content-rates-list-item-info__point">Передача обращения в работу: немедленно</li>
                    <li class="index-content-rates-list-item-info__point">Исполнение обращения:<br>до 1 дня</li>
                    <li class="index-content-rates-list-item-info__point">Предоплаченных часов выездов: 8 часов</li>
                  </ul>
                </div>
              </div>
              <a href="#request" data-cnt="Тариф на обслуживание «Премиум»" class="index-content-rates-list-item__order">Заказать</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="index-content__cases">
    <div class="index-content-cases">
      <div class="index-content-cases__header-block">
        <div class="header-block">
          <div class="header-block__title">Лучшие кейсы</div>
          <div class="header-block__subtitle">результаты говорят сами за себя</div>
        </div>
      </div>
      <div class="index-content-cases__list _index-page">{{#each posts}}{{#is post "top"}}{{> cases-content-list obj=pages}}{{/is}}{{/each}}
      </div>
    </div>
  </div>
  <div class="index-content__reviews">
    <div class="index-content-reviews">
      <div class="index-content-reviews__content">
        <div class="index-content-reviews-content">
          <div class="index-content-reviews-content__header-block">
            <div class="header-block">
              <div class="header-block__title">Отзывы</div>
              <div class="header-block__subtitle">Гордимся нашими клиентами</div>
            </div>
          </div>
          <div class="index-content-reviews-content__slider">
            <div class="index-content-reviews-content-slider">
              {{#each reviews.items}}
              <div class="index-content-reviews-content-slider__item">
                <div class="index-content-reviews-content-slider-item">
                  <div class="index-content-reviews-content-slider-item__body">
                    <div class="index-content-reviews-content-slider-item-body">
                      <h4 class="index-content-reviews-content-slider-item-body__header">{{ company }}</h4>
                      {{#each text}}<p class="index-content-reviews-content-slider-item-body__text">{{ this }}</p>{{/each}}
                    </div>
                  </div>
                  <div class="index-content-reviews-content-slider-item__footer">
                    <div class="index-content-reviews-content-slider-item-footer">
                      <div class="index-content-reviews-content-slider-item-footer__name">{{ name }}</div>
                      <div class="index-content-reviews-content-slider-item-footer__position">{{ position }}</div>
                      <div class="index-content-reviews-content-slider-item-footer__nav">
                        <div class="index-content-reviews-content-slider-item-footer-nav">
                          <div class="index-content-reviews-content-slider-item-footer-nav__next">
                            <svg id="arrow-right" viewBox="0 0 32 16" width="100%" height="100%">
                              <path fillrule="evenodd" d="M-0.33 9.14C-0.33 9.14-0.33 6.37-0.33 6.37-0.33 6.37 30.93 6.37 30.93 6.37 30.93 6.37 30.93 9.14 30.93 9.14 30.93 9.14-0.33 9.14-0.33 9.14Z"></path>
                              <path fillrule="evenodd" d="M 29.75 9.81C 29.75 9.81 31.66 7.85 31.66 7.85 31.66 7.85 24.08 0.06 24.08 0.06 24.08 0.06 22.17 2.02 22.17 2.02 22.17 2.02 29.75 9.81 29.75 9.81Z"></path>
                              <path fillrule="evenodd" d="M 30.38 6.38C 30.38 6.38 32.28 8.33 32.28 8.33 32.28 8.33 24.77 16.04 24.77 16.04 24.77 16.04 22.87 14.1 22.87 14.1 22.87 14.1 30.38 6.38 30.38 6.38Z"></path>
                            </svg>
                          </div>
                          <div class="index-content-reviews-content-slider-item-footer-nav__prev">
                            <svg id="arrow-left" viewBox="0 0 32 16" width="100%" height="100%">
                              <path fillrule="evenodd" d="M 32.67 9.14C 32.67 9.14 32.67 6.37 32.67 6.37 32.67 6.37 1.41 6.37 1.41 6.37 1.41 6.37 1.41 9.14 1.41 9.14 1.41 9.14 32.67 9.14 32.67 9.14Z"></path>
                              <path fillrule="evenodd" d="M 2.58 9.81C 2.58 9.81 0.67 7.85 0.67 7.85 0.67 7.85 8.25 0.06 8.25 0.06 8.25 0.06 10.16 2.02 10.16 2.02 10.16 2.02 2.58 9.81 2.58 9.81Z"></path>
                              <path fillrule="evenodd" d="M 1.95 6.38C 1.95 6.38 0.06 8.33 0.06 8.33 0.06 8.33 7.56 16.04 7.56 16.04 7.56 16.04 9.46 14.1 9.46 14.1 9.46 14.1 1.95 6.38 1.95 6.38Z"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="index-content-reviews__banners">
        <div class="index-content-reviews-banners">
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-asteros" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-atrus" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-bzhf" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-enforta" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-tn" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-yats" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-defo" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-rkk" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-rtk" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-vostok" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-yarsak" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
          <div class="index-content-reviews-banners__item">
            <img class="cases-companies-park-otel" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAACgAQMAAAAIFXMmAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAgNcAE2AAAfqNLEkAAAAASUVORK5CYII=">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="index-content__client-feedback" id="request">
    <div class="client-feedback">
      <h5 class="client-feedback__title">Оставить заявку</h5>
      {{>form-block class="client-feedback__form-block" id="fin"}}
    </div>
  </div>
  <div class="index-content__footer">
    <div class="index-content-footer">
      <div class="index-content-footer__social-block _dark">{{> social-block }}</div>
      <div class="index-content-footer__contacts-block">{{> contacts-block }}</div>
    </div>
  </div>
</div>