---
shortname: blog
layout: default.hbs
---

<div class="blog-content">
  <div class="blog-content__sidebar">
    {{> blog-sidebar}}
  </div>
  <div class="blog-content__posts">
    <div class="blog-content-posts">
      <div class="blog-content-posts__item">
        <div class="blog-content-posts-item">
          <a href="/blog" class="blog-content-posts-item__back" title="к статьям">к статьям</a>
          <h1 class="blog-content-posts-item__title">{{title}}</h1>
          <span class="blog-content-posts-item__date">{{moment  created  lang ="ru"  format ="DD MMMM YYYY" }}</span>
          <div class="blog-content-posts-item__body">
            <div class="blog-content-posts-item-body">{{> body }}</div>
          </div>
          <div class="blog-content-posts-item__social"></div>
          <div class="blog-content-posts-item__tags">
            <div class="blog-content-posts-item-preview-tags">
              {{#each page.tags}}
              <a href="/blog/tags/{{this}}" class="blog-content-posts-item-preview-tags__item" title="{{this}}">{{this}}</a>
              {{/each}} 
            </div>
          </div>
        </div>
      </div>
      <div class="blog-content-posts__comments">
        <div class="blog-content-posts-comments">
          <div id="disqus_thread"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-content__banner-image">
    <div class="banner-image"{{#unless noImage}} style="background-image: url(/{{this.basename}}.jpg)"{{/unless}}></div>
  </div>
</div>
<script>
  var disqus_config = function () {
    this.page.url = "https://digit-it.ru/blog/{{this.filename}}";
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://pblanding.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<script id="dsq-count-scr" src="//pblanding.disqus.com/count.js" async></script>